<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<base href="/src/main/resources/static/">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>BlueSkyFlower</title>

	<!-- Bootstrap core CSS -->
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar bg-body-tertiary fixed-top" style="background-color: #d6d1b6;">
		<div class="container-fluid">
			<a class="navbar-brand text-dark mr-5" th:href="@{/}">
				<img src="/images/logo sin fondo.png" alt="Logo" style="height: 30px;"> BlueSkyFlower
			</a>
			<a class="nav-link text-dark ml-3" th:href="@{/usuario/login}">Login</a>
			<div class="collapse navbar-collapse" id="navbarResponsive"></div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">
		<div class="mt-4">
			<div class="row no-gutters">
				<div class="col-md-5">
				</div>
				<div>
					<div>
						<h2 class="text-white">Ingresar</h2>
					</div>
				</div>
			</div>
		</div>

		<form th:action="@{/usuario/acceder}" method="post">
			<div class="form-group">
				<label for="email" class="text-white"> Email: </label>
				<input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su email" required
					autocomplete="off">
			</div>

			<div class="form-group">
				<label for="pwd" class="text-white"> Contraseña:</label>
				<input type="password" class="form-control" id="password" name="password"
					placeholder="Ingrese su contraseña" required>
			</div>

			<div class="form-group">
				<div>
					<button class="btn btn-dark" type="submit">Ingresar</button>
				</div>
			</div>
			<!-- Error Message -->
			<div class="form-group" th:if="${error}">
				<div class="alert alert-danger" role="alert">
					<p th:text="${error}"></p>
				</div>
			</div>
		</form>
		<a th:href="@{/usuario/registro}" class="card-link text-white">Si aún no tiene cuenta aquí puede registrarse</a>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<div th:include="usuario/template_usuario.html::footer"></div>

	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>