<!-- Navigation -->
<div th:fragment="header">
	<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="background-color: #d6d1b6; height: 60px;">
		<div class="container-fluid">
			<a class="navbar-brand text-dark mr-5" th:href="@{/}">
			                <img src="/images/logo sin fondo.png" alt="Logo" style="height: 50px;"> BlueSkyFlower
			            </a>

						<form class="d-flex ml-auto mr-3" method="post" th:action="@{/search}">
						    <input type="hidden" name="idUsuario" th:value="${sesion}" /> <!-- Campo oculto para enviar el ID de usuario -->
						    <input class="form-control" type="search" placeholder="Buscar" aria-label="Search" name="nombre" autocomplete="off">
						    <button class="btn btn-outline-dark ml-2" type="submit">Buscar</button>
						</form>


			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ADMIN </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" th:href="@{/productos}">Productos</a>
                            <a class="dropdown-item" th:href="@{/administrador/usuarios}">Usuarios</a>
                            <a class="dropdown-item" th:href="@{/administrador/ordenes}">Ordenes</a>
                            <a class="dropdown-item" th:href="@{/usuario/cerrar}">Salir</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>



<!-- Footer -->
<div th:fragment="footer">
    <footer class="py-5" style="background-color: #d6d1b6;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Contacto</h5>
                    <p>Dirección: 123 Calle Principal, Ciudad, País</p>
                    <p>Teléfono: +123456789</p>
                    <p>Correo electrónico: info@ejemplo.com</p>
                </div>
                <div class="col-md-4">
                    <h5>Enlaces</h5>
                    <ul class="list-unstyled">
                        <li><a th:href="@{/}" style="color: rgb(128, 128, 128);">Inicio</a></li>
                        <li><a href="@{/usuario/acercade}"style="color: rgb(128, 128, 128);">Acerca de nosotros</a></li>
                        <li><a href="https://es.wallapop.com/app/user/salvadorv-163623380-lqzml0yyol6v/published" style="color: rgb(128, 128, 128);">Servicios</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Síguenos</h5>
                    <ul class="list-unstyled d-flex">
                        <li><a href="https://www.pinterest.es/blueskyflowerofficial/"><img src="/images/pinterest.png" alt="Logo" style="height: 20px;" class="mr-2 mb-1"></a></li>
                        <li><a href="https://www.instagram.com/_blueskyflower/"><img src="/images/instagram.png" alt="Logo" style="height: 20px;" class="mr-2 mb-1"></a></li>
                        <li><a href="https://www.tiktok.com/@_blueskyflower/"><img src="/images/tiktok.png" alt="Logo" style="height: 20px;" class=" mb-1"></a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="m-0 text-center text-black">Copyright &copy; BlueSkyFlower 2024</p>
        </div>
        <!-- /.container -->
    </footer>
</div>